.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-bottom: 10px solid #000;
  padding: 10px 0;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

h1 {
  font-family: 'Rampart One', cursive;;
  font-size: 30px;
  margin: 0 10%;
}

.menu-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.social-links {
  height: 50px;
  display: flex;
  flex: auto;
  align-items: center;
  background-color: #000;
}

.social-links:focus {
  background-color: #000;
}

.social-link {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(111, 65, 218);
}

.mobile-menu {
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Mali', cursive;
  color: #feffff;
}

.mobile-menu-overlay {
  background-color: rgba(0, 0, 0, 0.863);
  position: fixed;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-link {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  gap: 30px;
}
