.greeting {
  font-family: 'Rampart One', cursive;
  text-align: center;
  padding: 15% 5%;
  font-size: 25px;
}

.greeting h2 {
  font-size: 40px;
  font-weight: 600;
}

.greeting h3 {
  color: #5987ec;
}
