@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  /* background: radial-gradient(circle, #480079, #010638); */
  background: radial-gradient(circle, #801357 31%, #3d1635 84%, #2e1322 98%);
  /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%); */
  color: #b38df0;
  margin-bottom: 80px;
}

:is(h1, h2, h3, ul, li, p) {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.active {
  color: #f50057;
}

h2 {
  font-size: 23px;
  text-align: center;
  margin: 20px 0;
}
